
<style type="text/css">
	tr{
		background-color: 
	}
</style>

<div class="program-index">
	<div class="col-md-10 col-md-offset-1">
		<div class="second-nav">
			<div>
				<p>All Programs &nbsp;<i class="fa fa-angle-down"></i> <a href="" class="pull-right">New +</a></p>

			</div>
		</div>
		<div class="third-nav">
			<div>
				<p>
					<a href="" class="pull-right" id="list_view"><i class="fa fa-bars" aria-hidden="true"></i></a>&emsp;&emsp;
					<a href="" class="pull-right" id="grid_view"><i class="fa fa-th" aria-hidden="true"></i></a>
				</p>

			</div>
		</div>

		<table class="table table-condensed">
		    <thead>
		      <tr>
		        <th>Name</th>
		        <th><%= sort_link(@p, :start_date, 'Start') %></th>
		        <th><%= sort_link(@p, :end_date, 'End') %></th>
		      </tr>
		    </thead>

		    <tbody>
		    	<% if @programs.exists? %>
			      	<% @programs.each do |p| %>
				        <% if DateTime.now.to_date > p.end_date %>
					        <tr style="background-color: #e2e2e5; ">
					      	    <td><%= p.name %> (Times's UP)</td>
						        <td><%= p.start_date.strftime('%e %b %Y') %></td>
						        <td><%= p.end_date.strftime('%e %b %Y') %></td>
						    </tr>
						<% else %>
							<tr>
					      	    <td><%= link_to p.name, p %></td>
						        <td><%= p.start_date.strftime('%e %b %Y') %></td>
						        <td><%= p.end_date.strftime('%e %b %Y') %></td>
						        <td></td>
						    </tr>
						<% end %>

				    <% end %>
		        <% else %>
			    	<td><h3 class="text-center">Looking for program not found</h3></td>
		        <% end %>
		      
		    </tbody>
		</table>

		<div class="grid" style="display: none;">
			<% if @programs.exists? %>
			    <% @programs.each do |p| %>
					<div class="col-md-3">
						<div class="thumbnail">
							<div class="caption">
								<p><%= p.name.truncate(15) %></p>
							</div>
						</div>
					</div>
				<% end %>
	        <% else %>
		    	<td><h3 class="text-center">Looking for program not found</h3></td>
	        <% end %>
			
		</div>
	</div>
	
</div>


 