

<div class="programs-show">
	<div class="col-md-10 col-md-offset-1">
		<p id="border-show"><%= @program.name %> 
			<span class="pull-right">
				Start:<%= @program.start_date.strftime('%e %b %Y') %>&emsp; End: <%= @program.end_date.strftime('%e %b %Y') %>
				&emsp;&emsp; <a href="">New event</a>
			</span>
		</p>
		<div class="events">
			<% @program.events.each do |event| %>
				

				<div class="col-md-3">
					<div class="thumbnail">
						<p><%= event.to.strftime('%-H:00') %>
							<span class="pull-right"><%= event.from.strftime('%-H:00') %></span>
						</p>
						<p><%= event.name %></p>
						<% if event.event_users %>
							<% event.event_users.each do |user| %>
								<p><%= user.name %></p>
							<% end %>
						<% else %>
							<p>No users for this event</p>
						<% end %>
						
					</div>
				</div>
			<% end %>
		</div>
		
	</div>
</div>



