.navbar-inverse{
	background-color: #4A70A7;
	border: none;
	border-radius: 0px;
	height: 40px;
	.navbar-brand {
		color: #fff;
	}
	form .form-control{
		padding: 8px 130px 7px 10px !important;
		height: 30px;
		margin-top: 3px;
		border-radius: 0px !important;
	}
}


/* footer */

footer{
	margin-top: 100px;
	overflow: hidden;
	#footer-line{
		border-top: 1px solid #4A70A7;
		ul{
			list-style: none;
			margin: 20px 0px;
			li{
				display: inline;
				margin-right: 20px;
			}
		}
	}
	
}
