
/* index page */

.program-index {
	margin: 0px 0px;

	.second-nav{
		margin: 30px 0px;
		p a{
			border: 1px solid #4A70A7;
			background-color: #4A70A7;
			padding: 4px 8px;
			color: #fff;
		}
		p a:hover{
			background-color: #59a4e2;
			border: 1px solid #59a4e2;
		}
	}
	.third-nav{
		margin: 40px 0px;
		p a{
			margin-left: 15px;
			font-size: 16px;
			color: #ccc;
		}
	}

	thead th {
    background: #fff;
    height: 30px;
    }

}


/* show page */
.programs-show{
	margin: 50px 0px;
	p#border-show{
		border-bottom: 1px solid #4A70A7;
		height: 40px;
	}
	.events .thumbnail{
		border-radius: 0px;
		margin: 30px 0px;
	}
}