<footer class="container">
	<div class="col-md-10 col-md-offset-1" id="footer-line">
		<div class="pull-left">
			<ul>
				<li>Home</li>
				<li>About</li>
				<li>Contact</li>
			</ul>
		</div>
		<div class="pull-right">
			<ul>
				<li>Advertise</li>
				<li>Privacy</li>
				<li>Terms</li>
			</ul>
		</div>
	</div>
	
</footer>