<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">IvyProgram</a>
    </div>
    <ul class="nav navbar-nav  hidden-xs">
     <% if (current_page?(root_path) || current_page?(programs_path) ) %>
      <%= search_form_for @p, :url => programs_path, :html => {:method => :get, class: "navbar-form navbar-left"} do |f| %>
        <div class="form-group">
          <%= f.text_field :name_cont, class: "form-control", placeholder: "Search" %>
        </div>
      <% end %>
    <% else %>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="search" name="" class="form-control" placeholder="Search">
        </div>
      </form> 
    <% end %>
    </ul>
    
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span></a></li>
     
    </ul>
  </div>
</nav>