<!DOCTYPE html>
<html>
  <head>
    <title>Ivyprograms</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<%= render "layouts/nav" %>
  	<div class="container">
  		 <%= yield %>
  	</div>
    <%= render "layouts/footer" %>
  </body>
</html>
